name: metrics

on:
  schedule:
    - cron: "0 0 * * *"
  push:
    branches:
      - main
      - master
    paths-ignore:
      - "assets/metrics.svg"
  workflow_dispatch:
  repository_dispatch:
    types:
      - metrics_update

permissions:
  contents: write

concurrency:
  group: metrics-${{ github.ref }}
  cancel-in-progress: true

jobs:
  github-metrics:
    if: github.actor != 'github-actions[bot]'
    runs-on: ubuntu-latest
    steps:
      - name: Generate metrics
        uses: lowlighter/metrics@latest
        with:
          filename: assets/metrics.svg
          token: ${{ secrets.GITHUB_TOKEN }}

          user: blueokanna
          template: classic
          base: header, activity, community, repositories

          config_timezone: Asia/Shanghai
          config_display: large

          plugin_languages: yes
          plugin_languages_indepth: yes
          plugin_languages_details: bytes-size, percentage

          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year

          plugin_habits: yes
          plugin_habits_from: 200
          plugin_habits_facts: yes
          plugin_habits_charts: yes

          plugin_followup: yes
          plugin_followup_sections: repositories
