name: metrics

on:
  schedule:
    - cron: "0 0 * * *"
  push:
    branches:
      - main
      - master
    paths-ignore:
      - "assets/metrics.svg"
  workflow_dispatch:
  repository_dispatch:
    types:
      - metrics_update

permissions:
  contents: write

concurrency:
  group: metrics-${{ github.ref }}
  cancel-in-progress: true

jobs:
  github-metrics:
    if: github.actor != 'github-actions[bot]'
    runs-on: ubuntu-latest
    steps:
      - name: Generate metrics
        uses: lowlighter/metrics@latest
        with:
          filename: assets/metrics.svg
          token: ${{ secrets.GITHUB_TOKEN }}

          user: blueokanna
          template: classic
          base: header, community, repositories
          base_indepth: yes

          repositories_affiliations: owner, collaborator, organization_member
          repositories_forks: yes
          repositories: 200
          repositories_batch: 50

          config_timezone: Asia/Shanghai
          config_display: large

          plugin_languages: yes
          plugin_languages_details: bytes-size, percentage
          plugin_languages_limit: 5
          plugin_languages_other: yes

          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year

          plugin_repositories: yes
          plugin_repositories_pinned: 1
          plugin_repositories_starred: 1
          plugin_repositories_order: starred, pinned
